body {
  margin: 0px;
  text-align: center;
  background-color: #E4F9F5;
  font-family: 'Dancing Script', cursive;

}

.top-container {
  position: relative;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  margin-top: 4%;
  margin-left: 40%;
}

h1 {
  font-size: 550%;
  color: #11aaaa;
  font-weight: normal;
}

h2 {
  font-size: 350%;
  color: #11aaaa;
  font-weight: normal;
}

h3 {
  font-family: 'Tillana', cursive;
  font-size: 200%;
  font-weight: normal;
  color: #11aaaa;
}

p {
  font-size: 170%;
  font-family: 'Tillana', cursive;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 1%;
  padding: 0px;
  color: #66BFBF;

}

.mepng {
  position: relative;
  width: 400px;
  height: 400px;
}

.eth {
  position: relative;
  width: 15%;
  height: 15%;
}

.mountain {
  width: 45%;
  height: 15%;
  position: relative;
  margin-bottom: 50px;
}

.mepng {
  margin-top: 5%;
}

.unvisible {
  visibility: hidden;
}

a {
  font-size: 180%;
  margin: 10px;
  text-decoration: inherit;
  font-style: oblique;
  color: #459194;
}

.code {
  text-decoration: underline;
  font-style: normal;
}

.skill-row {
  margin-bottom: 5%;
}

.bottom-container {
  background-color: #459194;
  margin-bottom: 0px;
  position: relative;
}

.footer-link {

  position: relative;
  margin-top: 5px;
}

.btn {
  background: #11aaaa;
  background-image: -webkit-linear-gradient(top, #b5f4ff, #007d81);
  background-image: -moz-linear-gradient(top, #b5f4ff, #007d81);
  background-image: -ms-linear-gradient(top, #b5f4ff, #007d81);
  background-image: -o-linear-gradient(top, #b5f4ff, #007d81);
  background-image: linear-gradient(to bottom, #b5f4ff, #007d81);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 8px 7px 3px #7aa8aa;
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  font-size: 250%;
  padding: 10px 25px 10px 20px;
  text-decoration: none;
  margin: 10%;
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #007d81, #b5f4ff);
  background-image: -moz-linear-gradient(top, #007d81, #b5f4ff);
  background-image: -ms-linear-gradient(top, #007d81, #b5f4ff);
  background-image: -o-linear-gradient(top, #007d81, #b5f4ff);
  background-image: linear-gradient(to bottom, #007d81, #b5f4ff);
  text-decoration: none;
}

.bottom-container {
  background-color: #82cbce;
  margin-top: 2%;
}

.closure {
  margin-bottom: 0px;
  color: #459194;
}